<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertData" method="post" enctype="multipart/form-data">
        <table border = "" align="center" cellpadding="15px" cellspacing="5px">
            <caption>
                <h2>
                    Add User Data
                </h2>
            </caption>
            <tr>
                <th>
                    User Name
                </th>
                <td>
                    <input type="text" name="username" id="">
                    <input type="hidden" name="id" value="<%= Date.now() %>">
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    <input type="text" name="email" id="">
                </td>
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                    <input type="password" name="password" id="">
                </td>
            </tr>
            <tr>
                <th>
                    Phone Number
                </th>
                <td>
                    <input type="number" name="phone" id="">
                </td>
            </tr>
            <tr>
                <th>
                    File
                </th>
                <td>
                    <input type="file" name="image" id="">
                </td>
            </tr>
            <tr>
                <th>
                    City
                </th>
                <td>
                    <select name="city" id="" value="city">
                        <option disabled selected>-- Select City--</option>
                        <% let city = ['Surat', 'Mumbai', 'Bangalore', 'Delhi', 'Pune']
                            city.map((val, idx)=>{
                                %>
                            <option value="<%= val %>">
                                <%= val %>
                            </option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>
                    <input type="radio" name="gender" value="male" id="">Male
                    <input type="radio" name="gender" value="female" id="">Female
                </td>
            </tr>
            <tr>
                <th>Hobby</th>
                <td>
                    <input type="checkbox" name="hobby" value="music" id="">Music
                    <input type="checkbox" name="hobby" value="reading" id="">Reading
                    <input type="checkbox" name="hobby" value="writing" id="">Writing
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    <textarea name="address" id=""></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Data">
                </td>
            </tr>
        </table>
    </form>

    <table border="" align="center" cellpadding="15px" cellspacing="5px">
        <caption>
            <h2>
                User Data
            </h2>
        </caption>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Password
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Image
                </th>
                <th>
                    City
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Hobby
                </th>
                <th>
                    Address
                </th>
                <th>
                    Action
                </th>
            </tr>
            <% data.map((val,idx) => { %>
                <tr>
                    <td><%= val.username %></td>
                    <td><%= val.email %></td>
                    <td><%= val.password %></td>
                    <td><%= val.phone %></td>
                    <td>
                        <img src="<%= val.image %>" alt="image" width="100px" height="100px">
                    </td>
                    <td><%= val.city %></td>
                    <td><%= val.gender %></td>
                    <td><%= val.hobby %></td>
                    <td><%= val.address %></td>
                    <td>
                        <a href="/deleteData/<%= val.id %>">Delete</a>
                        <a href="/editData/<%= val.id %>">Edit</a>
                    </td>
                </tr>
            <% }) %>
    </table>
</body>
</html>